

body {
  display: grid;
  place-items: center;
}

.container {
  margin: 10px 0;
  text-align: center;
  width: 80% !important;
  border: 1px solid #000;
}

.container h1 {
  margin: 10px;
}

.flex-row-1 {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: url('img/background.png') center;    
}

.flex-row-1 div {
  flex: 1;
  padding: 10px;
  height: 350px;
  border: 1px solid #000;
}

.flex-row-2 {
  background: url('img/background.png') center;
}

.flex-row-2 div {
  padding: 10px;
}

.flex-row-2 div button {
  margin-right: 5px;
}

.flex-row-3 {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

table, th, td {
  padding: 5px;
  border: 1px solid #000;
}

#your-box img,
#dealer-box img {
  width: 100px;
  height: 130px;
  padding: 5px;
}

